body {
  background-color: #bde0ff; 
}

.next-steps .fa-link {
  margin-right: 5px;
}


.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.result-block-container .result-block {
  opacity: 1;
}
.footer {
  background-color: #01002a; /* Couleur de fond identique à celle de la navbar */
  color: #ffffff; /* Couleur du texte pour contraste avec le fond sombre */
  padding: 1rem; /* Ajustez le padding selon vos besoins */
  text-align: center; /* Centre le texte dans le footer */
}

.footer .logo {
  height: 40px; /* Hauteur du logo dans le footer, ajustez selon vos besoins */
  margin-bottom: 10px; /* Marge sous le logo pour espacer du texte */
}